@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

* {
  margin: 0;
}

body {
  border: 5px solid yellow; /* wireframe */
}

.rev-max-description {
  overflow: hidden;
  max-width: 200ch;
  text-overflow: ellipsis;
  white-space: nowrap;
}