@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

* {
  margin: 0;
}

/* iPhone SE */
@media screen and (min-width: 375px) {
  body {
    border: 5px solid yellow; /* wireframe */
    background-color: rgb(245, 245, 220);
  }  
}

/* iPhone 12 Pro */
@media screen and (min-width: 390px) {

}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {

}

/* Surface Duo */
@media screen and (min-width: 540px) {

}

/* iPad */
@media screen and (min-width: 768px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {

}







