@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

* {
  margin: 0;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

footer {
  margin-top: auto;
}

a {
  color: inherit;
}

.rev-max-description {
  max-width: 100ch;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.o-5 {
  opacity: 70%;
}

.o-5:hover {
  opacity: 100%;
}

.o-1 {
  opacity: 10%;
}

.o-10 {
  opacity: 100%;
}


/* iPhone SE */
@media screen and (min-width: 375px) {
  body {
    background-color: rgb(245, 245, 220);
    min-height: 1000px;
  }  
}

/* iPhone 12 Pro */
@media screen and (min-width: 390px) {

}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {

}

/* Surface Duo */
@media screen and (min-width: 540px) {

}

/* iPad */
@media screen and (min-width: 768px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {

}







