@import "https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma-rtl.min.css";

* {
  --main-color: rgb(47,198,47);
  --main-color-5: rgba(47,198,47,.5);
  margin: 0;
}

.main-bg-color {
  background-color: var(--main-color);
}
body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

.footer {
  margin-top: auto;
  padding: 0;
}

a {
  color: inherit;
}

.write-position {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 100;
}

.write-bg {
  background-color: var(--main-color);
  padding: 1%;
  border-radius: 6%;
}

.signup-bg {
  background-color: var(--main-color);
  padding: 1%;
  border-radius: 6%;
}

.rev-max-description {
  max-width: 100ch;
  overflow:hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.opacity-70 {
  opacity: 0.7;
}

.opacity-70:hover {
  opacity: 1;
}

.o-1 {
  opacity: 10%;
}

.o-10 {
  opacity: 100%;
}

.section {
  padding: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.min-height-100 {
  min-height: 100vh;
}

.mt-5r {
  margin-top: 5.5rem;
}

/* iPhone SE */
@media screen and (min-width: 375px) {
  body {
    background-color: rgb(245, 245, 220);
    min-height: 1000px;
  }  
}

/* iPhone 12 Pro */
@media screen and (min-width: 390px) {

}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {

}

/* Surface Duo */
@media screen and (min-width: 540px) {

}

@media screen and (max-width: 768px) {
  .mobile-p {
      padding: 4%;
  }

  .mobile-title {
    font-size: 1.5rem;
  }
}
/* Desktop */
@media screen and (min-width: 1024px) {

}







