/* iPhone SE */
@media screen and (min-width: 375px) {

}

/* iPhone 12 Pro */
@media screen and (min-width: 390px) {

}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {

}

/* Surface Duo */
@media screen and (min-width: 540px) {

}

/* iPad */
@media screen and (min-width: 768px) {

}

.login {
    background-color: orange; /* wireframe */
}
