/* iPhone SE */
@media screen and (min-width: 375px) {
    .s {
        font-size: 25px;
        font-weight: 500;
        color: rgb(149, 69, 53);
        margin-left: 23px;
    }

    .signup {
        width: 87%;
    }
}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {
    .signup {
        width: 88%;
    }
}

/* Surface Duo */
@media screen and (min-width: 540px) {
    .signup {
        width: 91%;
    }
}

/* iPad */
@media screen and (min-width: 768px) {
    .signup {
        width: 94%;
    }
}

/* Desktop */
@media screen and (min-width: 1024px) {
    .signup {
        width: 45%;
        margin-left: 10px; /* Apaparently, Bulma disallowss 'margin-left' functionality*/
    }
}


