.mt-8 {
    margin-top: 4rem;
}

/* iPhone SE */
@media screen and (min-width: 375px) {
    .homepage h1 {
        font-size: 25px;
        font-weight: 500;
        color: rgb(149, 69, 53);
    }    
}

/* iPhone 12 Pro */
@media screen and (min-width: 390px) {

}

/* Samsung Galaxy S20 Ultra */
@media screen and (min-width: 412px) {

}

/* Surface Duo */
@media screen and (min-width: 540px) {

}

/* iPad */
@media screen and (min-width: 768px) {

}

/* Desktop */
@media screen and (min-width: 1024px) {

}




