/* iPhone SE */
@media screen and (max-width: 375px) {

}

/* iPhone 12 Pro */
@media screen and (max-width: 390px) {

}

/* Samsung Galaxy S20 Ultra */
@media screen and (max-width: 412px) {

}

/* Surface Duo */
@media screen and (max-width: 540px) {

}

/* iPad */
@media screen and (max-width: 768px) {

}

footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    border: 5px solid indigo; /* wireframe */
}